.livestreamer {
	display: flex;
	align-items: center;
}

.livestreamer > .streamer-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.livestreamer > .streamer-icon {
	max-width: 30px;
	max-height: 30px;
	border-radius: 50%;
}

.livestreamer > .streamer-wrapper > .game {
	font-size: 10px;
	color: #333333;
}
